 <form  method="post" id="addForm">
  <legend>Submit a Shout</legend>

  <label for="description" class="ui-hidden-accessible">Text:</label>
    <input type="text" placeholder="your message" name="description" class="description"
      autocapitalize="off" autocorrect="off">

  <div style="float:left; font-size:24px;padding-top:5px;">
   @
  </div>
  <div style="margin-left:30px;">
    <input type="text" placeholder="username" name="username" class="username" 
      autocapitalize="off" autocorrect="off" value="<%= username %>">
  </div>

  <input type="submit" id="addBtn" class="large button" value="submit" />

</form>
