<form class="form-horizontal" method="post">
<fieldset>
  <legend>Wine Detail</legend>
  <div class="control-group">
    <label class="control-label" for="input01">Name:</label>
    <div class="controls">
      <input type="text" class="input-xlarge addName" id="name" name="name" value="<%= name %>">
    </div>
  </div>
  <div class="control-group">
    
    <div class="controls">
       <a href="#" id="cancelBtn" class="btn">close</a>
       <a href="#" id="saveBtn" class="btn">save</a>
    </div>
  </div>
  
</fieldset>
</form>